services:
  tor:
    image: dperson/torproxy
    restart: unless-stopped
    ports:
      - "9050:9050"
      - "9051:9051"
    networks:
      - internal

  postgres:
    image: postgres:16
    env_file:
      - docker/postgres.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - internal

  pgadmin:
    image: dpage/pgadmin4
    env_file:
      - docker/pgadmin.env
    volumes:
      - ./docker/pgadmin_servers.json:/pgadmin4/servers.json
    depends_on:
      - postgres
    ports:
      - "5050:80"
    networks:
      - internal

  backend:
    build:
      context: .
      dockerfile: docker/dockerfile.back
    env_file:
      - docker/backend.env
    depends_on:
      - postgres
      - tor
    ports:
      - "5000:5000"
    networks:
      - internal

  frontend:
    build:
      context: .
      dockerfile: docker/dockerfile.front
    env_file:
      - docker/frontend.env
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - internal

networks:
  internal:
    driver: bridge

volumes:
  postgres_data:
